# Microsoft Intern Engage 2022

In [1]:
# importing the libraries  
import numpy as np
import pandas as pd

In [3]:
# Reading the data
# this csv file is having only (cast crew and movie id) data till 2017 
credits = pd.read_csv('credits.csv')

In [4]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [8]:
# this csv file is having other movies related features data till 2017 
meta = pd.read_csv('tmdb_5000_movies.csv')

In [9]:
meta.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [10]:
# changing the release date from object to date time format
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [11]:
# changing the release year from object to date year format
meta['year'] = meta['release_date'].dt.year

In [12]:
# Counting the released number of movies in each year
meta['year'].value_counts().sort_index()

1916.0      1
1925.0      1
1927.0      1
1929.0      2
1930.0      1
         ...
2013.0    231
2014.0    238
2015.0    216
2016.0    104
2017.0      1
Name: year, Length: 90, dtype: int64

In [13]:
# Getting only 2017 movies, as we already have movies up to the year 2016 in preprocessing_1
new_meta = meta[['id','title', 'genres', 'keywords','year', 'popularity', 'vote_average', 'vote_count']]

In [14]:
new_meta

,id,title,genres,keywords,year,popularity,vote_average,vote_count
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",2009.0,150.437577,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",2007.0,139.082615,6.9,4500
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",2015.0,107.376788,6.3,4466
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",2012.0,112.312950,7.6,9106
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",2012.0,43.926995,6.1,2124
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...",1992.0,14.269792,6.6,238
4799,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],2011.0,0.642552,5.9,5
4800,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",2013.0,1.444476,7.0,6
4801,126186,Shanghai Calling,[],[],2012.0,0.857008,5.7,7
4802,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",2005.0,1.929883,6.3,16

In [15]:
new_meta.dropna(inplace=True)

C:\Users\abhay\AppData\Local\Temp\ipykernel_21780\2020244838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_meta.dropna(inplace=True)

In [16]:
new_meta['id'] = new_meta['id'].astype(int)

C:\Users\abhay\AppData\Local\Temp\ipykernel_21780\2216702265.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_meta['id'] = new_meta['id'].astype(int)

In [17]:
# merging the credits.csv data with movies_metadata.csv data on the basis on movie ID
# we are doing so , because both the files are having imformative data
data = pd.merge(new_meta, credits, on='id')

In [18]:
pd.set_option('display.max_colwidth', 75)
data

,id,title,genres,keywords,year,popularity,vote_average,vote_count,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": ...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""},...",2009.0,150.437577,7.2,11800,"[{'cast_id': 242, 'character': 'Jake Sully', 'credit_id': '5602a8a7c3a3...","[{'credit_id': '52fe48009251416c750aca23', 'department': 'Editing', 'ge..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"":...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""name"": ""drug abuse""}, {""id""...",2007.0,139.082615,6.9,4500,"[{'cast_id': 4, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4232c3a36847f800b579', 'department': 'Camera', 'gen..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": ...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name"": ""based on novel""}, {""i...",2015.0,107.376788,6.3,4466,"[{'cast_id': 1, 'character': 'James Bond', 'credit_id': '52fe4d22c3a368...","[{'credit_id': '5751eed59251416b60000637', 'department': 'Production', ..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 18, ...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853, ""name"": ""crime fighter""}...",2012.0,112.312950,7.6,9106,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '52fe...","[{'credit_id': '52fe4781c3a36847f81398c3', 'department': 'Sound', 'gend..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": ...","[{""id"": 818, ""name"": ""based on novel""}, {""id"": 839, ""name"": ""mars""}, {""...",2012.0,43.926995,6.1,2124,"[{'cast_id': 5, 'character': 'John Carter', 'credit_id': '52fe479ac3a36...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'department': 'Writing', 'ge..."
...,...,...,...,...,...,...,...,...,...,...
4594,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 53, ...","[{""id"": 5616, ""name"": ""united states\u2013mexico barrier""}, {""id"": 3364...",1992.0,14.269792,6.6,238,"[{'cast_id': 1, 'character': 'El Mariachi', 'credit_id': '52fe44eec3a36...","[{'credit_id': '52fe44eec3a36847f80b280b', 'department': 'Directing', '..."
4595,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""name"": ""Romance""}]",[],2011.0,0.642552,5.9,5,"[{'cast_id': 1, 'character': 'Buzzy', 'credit_id': '52fe487dc3a368484e0...","[{'credit_id': '52fe487dc3a368484e0fb013', 'department': 'Directing', '..."
4596,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""name"": ""Drama""}, {""id"": 1074...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""name"": ""love at first sight""...",2013.0,1.444476,7.0,6,"[{'cast_id': 8, 'character': 'Oliver Oâ€™Toole', 'credit_id': '52fe4df3c3...","[{'credit_id': '52fe4df3c3a36847f8275eab', 'department': 'Directing', '..."
4597,126186,Shanghai Calling,[],[],2012.0,0.857008,5.7,7,"[{'cast_id': 3, 'character': 'Sam', 'credit_id': '52fe4ad9c3a368484e16a...","[{'credit_id': '52fe4ad9c3a368484e16a36b', 'department': 'Directing', '..."
4598,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 2249, ""name"": ""camcorder""}, ...",2005.0,1.929883,6.3,16,"[{'cast_id': 3, 'character': 'Herself', 'credit_id': '52fe44e8c3a368484...","[{'credit_id': '58ce021b9251415a390165d9', 'department': 'Production', ..."

In [19]:
# evaluates an expression node or a string containing a Python literal or container display
import ast
data['keywords'] = data['keywords'].map(lambda x: ast.literal_eval(x))
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [20]:
# Extracting the geners_list using this function 
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':      # converting the "Science Fiction" to "Sci-Fi"
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [21]:
data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

In [22]:
data['genres_list']

0       Action Adventure Fantasy Sci-Fi
1              Adventure Fantasy Action
2                Action Adventure Crime
3           Action Crime Drama Thriller
4               Action Adventure Sci-Fi
                     ...
4594              Action Crime Thriller
4595                     Comedy Romance
4596      Comedy Drama Romance TV Movie
4597                                NaN
4598                        Documentary
Name: genres_list, Length: 4599, dtype: object

In [23]:
# Getting the cast information (First Cast)
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [24]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [25]:
# Getting the cast information (Second Cast)
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [26]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [27]:
data['actor_2_name']

0            Zoe Saldana
1          Orlando Bloom
2        Christoph Waltz
3          Michael Caine
4           Lynn Collins
              ...
4594      Jaime de Hoyos
4595         Kerry BishÃ©
4596       Kristin Booth
4597         Eliza Coupe
4598    Brian Herzlinger
Name: actor_2_name, Length: 4599, dtype: object

In [28]:
# Getting the cast information (Third Cast)
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [29]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [30]:
data['actor_3_name']

0       Sigourney Weaver
1        Keira Knightley
2            LÃ©a Seydoux
3            Gary Oldman
4        Samantha Morton
              ...
4594     Peter Marquardt
4595     Marsha Dietlein
4596        Crystal Lowe
4597         Bill Paxton
4598       Corey Feldman
Name: actor_3_name, Length: 4599, dtype: object

In [31]:
# getting the Director name for Each Movie by using this function
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [32]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [33]:
data['director_name']

0                              James Cameron
1                             Gore Verbinski
2                                 Sam Mendes
3                          Christopher Nolan
4                             Andrew Stanton
                        ...
4594                        Robert Rodriguez
4595                            Edward Burns
4596                             Scott Smith
4597                             Daniel Hsia
4598    Brian Herzlinger Jon Gunn Brett Winn
Name: director_name, Length: 4599, dtype: object

In [34]:
# getting the keywords for Each Movie by using this function
def make_keywords_List(x):
    key = []
    st = " "
    for i in x:
        key.append(i.get('name'))
    if key == []:
        return np.NaN
    else:
        return (st.join(key))

In [35]:
data['keywords_list'] = data['keywords'].map(lambda x: make_keywords_List(x))

In [36]:
data['keywords_list']

0       culture clash future space war space colony society space travel futuri...
1       ocean drug abuse exotic island east india trading company love of one's...
2       spy based on novel secret agent sequel mi6 british secret service unite...
3       dc comics crime fighter terrorist secret identity burglar hostage drama...
4       based on novel mars medallion space travel princess alien steampunk mar...
                                           ...
4594                united statesâ€“mexico barrier legs arms paper knife guitar case
4595                                                                           NaN
4596           date love at first sight narration investigation team postal worker
4597                                                                           NaN
4598                                          obsession camcorder crush dream girl
Name: keywords_list, Length: 4599, dtype: object

In [37]:
# making a new movie data , that is haing only this important information that we have extracted
movie = data.loc[:,['id','keywords_list','director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','popularity','vote_average','vote_count','title','year']]

In [38]:
movie

,id,keywords_list,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,popularity,vote_average,vote_count,title,year
0,19995,culture clash future space war space colony society space travel futuri...,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Action Adventure Fantasy Sci-Fi,150.437577,7.2,11800,Avatar,2009.0
1,285,ocean drug abuse exotic island east india trading company love of one's...,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Adventure Fantasy Action,139.082615,6.9,4500,Pirates of the Caribbean: At World's End,2007.0
2,206647,spy based on novel secret agent sequel mi6 british secret service unite...,Sam Mendes,Daniel Craig,Christoph Waltz,LÃ©a Seydoux,Action Adventure Crime,107.376788,6.3,4466,Spectre,2015.0
3,49026,dc comics crime fighter terrorist secret identity burglar hostage drama...,Christopher Nolan,Christian Bale,Michael Caine,Gary Oldman,Action Crime Drama Thriller,112.312950,7.6,9106,The Dark Knight Rises,2012.0
4,49529,based on novel mars medallion space travel princess alien steampunk mar...,Andrew Stanton,Taylor Kitsch,Lynn Collins,Samantha Morton,Action Adventure Sci-Fi,43.926995,6.1,2124,John Carter,2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4594,9367,united statesâ€“mexico barrier legs arms paper knife guitar case,Robert Rodriguez,Carlos Gallardo,Jaime de Hoyos,Peter Marquardt,Action Crime Thriller,14.269792,6.6,238,El Mariachi,1992.0
4595,72766,NaN,Edward Burns,Edward Burns,Kerry BishÃ©,Marsha Dietlein,Comedy Romance,0.642552,5.9,5,Newlyweds,2011.0
4596,231617,date love at first sight narration investigation team postal worker,Scott Smith,Eric Mabius,Kristin Booth,Crystal Lowe,Comedy Drama Romance TV Movie,1.444476,7.0,6,"Signed, Sealed, Delivered",2013.0
4597,126186,NaN,Daniel Hsia,Daniel Henney,Eliza Coupe,Bill Paxton,NaN,0.857008,5.7,7,Shanghai Calling,2012.0
4598,25975,obsession camcorder crush dream girl,Brian Herzlinger Jon Gunn Brett Winn,Drew Barrymore,Brian Herzlinger,Corey Feldman,Documentary,1.929883,6.3,16,My Date with Drew,2005.0

In [39]:
movie.isna().sum()

id                 0
keywords_list    311
director_name      9
actor_1_name      20
actor_2_name      26
actor_3_name      33
genres_list        9
popularity         0
vote_average       0
vote_count         0
title              0
year               0
dtype: int64

In [40]:
movie = movie.dropna(how='any')

In [41]:
movie.isna().sum()

id               0
keywords_list    0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
popularity       0
vote_average     0
vote_count       0
title            0
year             0
dtype: int64

In [42]:
# renaming the columns
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})
movie = movie.rename(columns={'keywords_list':'keywords'})

In [43]:
movie['movie_title'] = movie['movie_title'].str.lower()

In [44]:
# making a new column and Concatenate all the value into that single column 
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['keywords']  + movie['genres'] + movie['popularity'].map(str)

In [45]:
movie

,id,keywords,director_name,actor_1_name,actor_2_name,actor_3_name,genres,popularity,vote_average,vote_count,movie_title,year,comb
0,19995,culture clash future space war space colony society space travel futuri...,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Action Adventure Fantasy Sci-Fi,150.437577,7.2,11800,avatar,2009.0,Sam Worthington Zoe Saldana Sigourney Weaver James Cameron culture clas...
1,285,ocean drug abuse exotic island east india trading company love of one's...,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Adventure Fantasy Action,139.082615,6.9,4500,pirates of the caribbean: at world's end,2007.0,Johnny Depp Orlando Bloom Keira Knightley Gore Verbinski ocean drug abu...
2,206647,spy based on novel secret agent sequel mi6 british secret service unite...,Sam Mendes,Daniel Craig,Christoph Waltz,LÃ©a Seydoux,Action Adventure Crime,107.376788,6.3,4466,spectre,2015.0,Daniel Craig Christoph Waltz LÃ©a Seydoux Sam Mendes spy based on novel ...
3,49026,dc comics crime fighter terrorist secret identity burglar hostage drama...,Christopher Nolan,Christian Bale,Michael Caine,Gary Oldman,Action Crime Drama Thriller,112.312950,7.6,9106,the dark knight rises,2012.0,Christian Bale Michael Caine Gary Oldman Christopher Nolan dc comics cr...
4,49529,based on novel mars medallion space travel princess alien steampunk mar...,Andrew Stanton,Taylor Kitsch,Lynn Collins,Samantha Morton,Action Adventure Sci-Fi,43.926995,6.1,2124,john carter,2012.0,Taylor Kitsch Lynn Collins Samantha Morton Andrew Stanton based on nove...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4592,124606,gang audition police fake homeless actress,Ash Baron-Cohen,Darling Narita,Peter Greene,Michael Newland,Drama,0.918116,6.0,1,bang,1995.0,Darling Narita Peter Greene Michael Newland Ash Baron-Cohen gang auditi...
4593,14337,distrust garage identity crisis time travel time machine mathematics in...,Shane Carruth,Shane Carruth,David Sullivan,Casey Gooden,Sci-Fi Drama Thriller,23.307949,6.9,658,primer,2004.0,Shane Carruth David Sullivan Casey Gooden Shane Carruth distrust garage...
4594,9367,united statesâ€“mexico barrier legs arms paper knife guitar case,Robert Rodriguez,Carlos Gallardo,Jaime de Hoyos,Peter Marquardt,Action Crime Thriller,14.269792,6.6,238,el mariachi,1992.0,Carlos Gallardo Jaime de Hoyos Peter Marquardt Robert Rodriguez united ...
4596,231617,date love at first sight narration investigation team postal worker,Scott Smith,Eric Mabius,Kristin Booth,Crystal Lowe,Comedy Drama Romance TV Movie,1.444476,7.0,6,"signed, sealed, delivered",2013.0,Eric Mabius Kristin Booth Crystal Lowe Scott Smith date love at first s...
4598,25975,obsession camcorder crush dream girl,Brian Herzlinger Jon Gunn Brett Winn,Drew Barrymore,Brian Herzlinger,Corey Feldman,Documentary,1.929883,6.3,16,my date with drew,2005.0,Drew Barrymore Brian Herzlinger Corey Feldman Brian Herzlinger Jon Gunn...

In [46]:
# saving the data into a csv file
movie.to_csv('hollywood_movie.csv',index=False)